/* CSS Document */
body {
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
	width: 1000px;
	margin: 10px auto;
	background-color: #FFF;
	padding: 0 20px;
}

#logo {
	float: left;
	margin: 20px 0;
}

#social-media {
	float: right;
	margin-top: 10px;
}

#social-media ul li {
	display: inline;
	list-style-type: none;
}

#social-media p {
	text-align: right;
	font-size: 16px;
}

#topnav {
	clear: both;
}

#content {
	float: left;
	width: 580px;
	padding-bottom: 50px;
}

#content p {
	font-size: 12px;
	line-height: 180%;
}

#content h1, h2, h3, h4 {
	color: #333;
}

#right-side {
	float: right;
	width: 300px;
	padding-top: 10px;
}

#addressList {
	list-style-type: none;
}

#right-side h2, h3 {
	color: #333;
}

#right-side p {
	font-size: 13px;
	line-height: 180%;
}

#right-side li {
	font-size: 13px;
	line-height: 180%;
}

#box1 {
	width: 265px;
	float: left;
	margin-right: 40px;
}

#box2 {
	width: 265px;
	float: left;
	p: align-right;
}

#buttonmushroom {
	width: 265px;
	float: left;
	p: align-right;
	
	
}

#button_mushroom_text{
	
	float: right;
	width: 301px;
	
	
}



.footer-container p{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.footer-container{
	clear: both;
	border-top: 1px #666 solid;
	padding: 10px 0;
}
